<h1>Editing movie list</h1>

<%= render "form", movie_list: @movie_list %>

<br>

<div>
  <%= link_to "Show this movie list", @movie_list %> |
  <%= link_to "Back to movie lists", movie_lists_path %>
</div>
