<p style="color: green"><%= notice %></p>

<div>
  <% if @movie_lists.first.present? %>
    <h1><%= @movie_lists.first.title %></h1>
  <% else %>
    <p>
        <%= link_to "New movie list", new_movie_list_path %>
    </p>
  <% end %>
</div>
