<h1>Editing fave movie</h1>

<%= render "form", fave_movie: @fave_movie %>

<br>

<div>
  <%= link_to "Show this fave movie", @fave_movie %> |
  <%= link_to "Back to fave movies", fave_movies_path %>
</div>
